main#main
{
	width:100%;
}


section.proj-tile
{
	background-color: #444444;
	padding: 20px 20px;
	text-align: left;
	border-radius: 3px;
	word-wrap: break-word;
	float:left;
	margin:5px;
}

section.proj-tile.solo
{
	width:calc(100% - 3em);
	max-width: 100%;
}

section.proj-tile.duo
{
	width:auto;
	max-width: 43.5%;
	min-width: calc(50% - 50px);
}

@media (max-width: 840px)
{
	section.proj-tile.duo
	{
		/*Holy shit thank you Chris Coyier for 
		writing about calc(). Saved my damn life 
		on this bug.*/
		width:calc(100% - 3em);
		max-width: 100%;
	}
}

h1.proj-name
{
	margin:0px;
	font-size: 26px;
	font-weight: bold;
}

a.proj-button
{
	background-color: #333333;
	color:#dddddd;
	border: none;
	padding: 10px 15px;
	border-radius: 3px;
	float: left;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

p.proj-status
{
	font-weight: 600;
	padding-top: 10px;
	margin-left: 150px;

}

h1.cent-head
{
	font-size: 3em;
}