body
{
	background-color: #222222;
	color:#dddddd;
	font-family: "Helvetica Neue","Arial","sans-serif";
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: 0em;
	font-weight: normal;
	font-style: normal;
}

div.main
{
	padding-top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	max-width: 50em;
	margin: 0 auto;
	text-align: center;
}

p.site-tagline
{
	font-size: 14px;
	line-height: 1.2em;    
	text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .05em;
    font-weight: normal;
    font-style: normal;
    color: #ddd;
}

nav.nav ul
{
	padding-left: 0;
	text-align: center;
	margin-top: 0;
}

li.nav-item
{
	display: inline-block;
	margin-right: 0.1em;
}

li.nav-item a
{
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: .05em;
	line-height: 1.2em;
}

h1.site-title a
{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 64px;
	font-weight: bold;
}

a
{
	text-decoration: underline;
	text-transform: none;
}

a:visited
{
	color:#dddddd;
}

h1.site-title a:hover
{
	color:#dddddd;
}

a:hover
{
	color:#999999;
}